In [101]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [102]:
dataset = pd.read_csv('./credit_risk_dataset.csv')
dataset.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [103]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
person_age                    32581 non-null int64
person_income                 32581 non-null int64
person_home_ownership         32581 non-null object
person_emp_length             31686 non-null float64
loan_intent                   32581 non-null object
loan_grade                    32581 non-null object
loan_amnt                     32581 non-null int64
loan_int_rate                 29465 non-null float64
loan_status                   32581 non-null int64
loan_percent_income           32581 non-null float64
cb_person_default_on_file     32581 non-null object
cb_person_cred_hist_length    32581 non-null int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [104]:
dataset.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [105]:
dataset.index

RangeIndex(start=0, stop=32581, step=1)

In [106]:
dataset.shape

(32581, 12)

In [107]:
dataset.dropna()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
6,26,77100,RENT,8.0,EDUCATION,B,35000,12.42,1,0.45,N,3
7,24,78956,RENT,5.0,MEDICAL,B,35000,11.11,1,0.44,N,4
8,24,83000,RENT,8.0,PERSONAL,A,35000,8.90,1,0.42,N,2
9,21,10000,OWN,6.0,VENTURE,D,1600,14.74,1,0.16,N,3
10,22,85000,RENT,6.0,VENTURE,B,35000,10.37,1,0.41,N,4
11,21,10000,OWN,2.0,HOMEIMPROVEMENT,A,4500,8.63,1,0.45,N,2
12,23,95000,RENT,2.0,VENTURE,A,35000,7.90,1,0.37,N,2
13,26,108160,RENT,4.0,EDUCATION,E,35000,18.39,1,0.32,N,4
14,23,115000,RENT,2.0,EDUCATION,A,35000,7.90,0,0.30,N,4
15,23,500000,MORTGAGE,7.0,DEBTCONSOLIDATION,B,30000,10.65,0,0.06,N,3
16,23,120000,RENT,0.0,EDUCATION,A,35000,7.90,0,0.29,N,4
17,23,92111,RENT,7.0,MEDICAL,F,35000,20.25,1,0.32,N,4
18,23,113000,RENT,8.0,DEBTCONSOLIDATION,D,35000,18.25,1,0.31,N,4
19,24,10800,MORTGAGE,8.0,EDUCATION,B,1750,10.99,1,0.16,N,2
20,25,162500,RENT,2.0,VENTURE,A,35000,7.49,0,0.22,N,4
21,25,137000,RENT,9.0,PERSONAL,E,34800,16.77,0,0.25,Y,2
22,22,65000,RENT,4.0,EDUCATION,D,34000,17.58,1,0.52,N,4
23,24,10980,OWN,0.0,PERSONAL,A,1500,7.29,0,0.14,N,3
24,22,80000,RENT,3.0,PERSONAL,D,33950,14.54,1,0.42,Y,4
25,24,67746,RENT,8.0,HOMEIMPROVEMENT,C,33000,12.68,1,0.49,N,3
26,21,11000,MORTGAGE,3.0,VENTURE,E,4575,17.74,1,0.42,Y,3
27,23,11000,OWN,0.0,PERSONAL,A,1400,9.32,0,0.13,N,3
28,24,65000,RENT,6.0,HOMEIMPROVEMENT,B,32500,9.99,1,0.50,N,3
29,21,11389,OTHER,5.0,EDUCATION,C,4000,12.84,1,0.35,Y,2
...,...,...,...,...,...,...,...,...,...,...,...,...
32545,60,9600,RENT,4.0,DEBTCONSOLIDATION,B,2800,10.99,1,0.29,N,28
32548,54,29000,MORTGAGE,7.0,PERSONAL,B,2500,11.71,0,0.09,N,28
32549,53,46000,OWN,9.0,PERSONAL,B,4925,11.71,0,0.11,N,23
32550,56,71884,OWN,11.0,PERSONAL,B,7425,9.99,0,0.10,N,24
32551,58,780000,MORTGAGE,7.0,PERSONAL,A,4500,6.91,0,0.01,N,19
32554,60,98000,RENT,1.0,HOMEIMPROVEMENT,D,15000,16.29,1,0.15,N,29
32555,51,80000,RENT,3.0,HOMEIMPROVEMENT,F,18000,18.78,0,0.23,Y,20
32556,55,50000,RENT,2.0,DEBTCONSOLIDATION,A,20000,7.51,1,0.40,N,28
32557,69,24000,RENT,3.0,MEDICAL,A,6000,6.62,0,0.25,N,23
32558,56,70000,MORTGAGE,7.0,PERSONAL,B,15000,10.38,0,0.21,N,24
32559,51,58000,RENT,2.0,MEDICAL,E,1500,19.03,1,0.03,N,24
32560,57,77385,RENT,4.0,PERSONAL,A,6625,7.66,0,0.09,N,27
32561,54,129000,MORTGAGE,6.0,EDUCATION,B,9000,11.49,1,0.07,N,24
32562,61,160000,MORTGAGE,30.0,PERSONAL,B,24000,10.38,0,0.15,N,21
32563,52,71520,RENT,0.0,EDUCATION,E,7000,16.82,1,0.10,Y,24
32564,53,45000,RENT,0.0,PERSONAL,C,5600,13.79,0,0.12,N,28
32565,57,40000,RENT,1.0,MEDICAL,A,15000,8.90,1,0.38,N,21
32566,52,30000,RENT,6.0,VENTURE,C,5000,12.73,0,0.17,N,18
32567,53,85000,RENT,2.0,PERSONAL,A,8000,7.74,0,0.09,N,26
32568,60,49008,OWN,5.0,PERSONAL,C,12000,13.79,0,0.24,Y,21
32571,60,45600,RENT,1.0,VENTURE,B,20000,10.00,1,0.44,N,26
32572,52,52000,OWN,0.0,PERSONAL,A,9600,8.49,0,0.18,N,22
32573,56,90000,MORTGAGE,0.0,PERSONAL,A,7200,6.17,0,0.08,N,19
32574,52,65004,RENT,4.0,PERSONAL,D,20000,15.58,1,0.31,Y,19
32575,52,64500,RENT,0.0,EDUCATION,B,5000,11.26,0,0.08,N,20
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [108]:
# Replace the LOAN_GRADE column values with numerical values for better training.
loan_grade_mapping = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}
dataset['loan_grade'] = dataset['loan_grade'].map(loan_grade_mapping)

# Do the same for the LOAN_INTENT column values too.
loan_intent_mapping = {'PERSONAL': 1, 'EDUCATION': 2, 'MEDICAL': 3, 'RENT': 4, 'OWN': 5, 'OTHER': 6}
dataset['loan_intent'] = dataset['loan_intent'].map(loan_intent_mapping)

# For the PERSON_HOME_OWNERSHIP column.
person_home_ownership_mapping = {'RENT': 1, 'OWN': 2, 'MORTGAGE': 3}
dataset['person_home_ownership'] = dataset['person_home_ownership'].map(person_home_ownership_mapping)

# For the CB_PERSON_DEFAULT_ON_FILE column values.
cb_person_default_on_file_mapping = {'Y': 1, 'N': 0}
dataset['cb_person_default_on_file'] = dataset['cb_person_default_on_file'].map(cb_person_default_on_file_mapping)

dataset.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,1.0,123.0,1.0,4.0,35000,16.02,1,0.59,1,3
1,21,9600,2.0,5.0,2.0,2.0,1000,11.14,0,0.10,0,2
2,25,9600,3.0,1.0,3.0,3.0,5500,12.87,1,0.57,0,3
3,23,65500,1.0,4.0,3.0,3.0,35000,15.23,1,0.53,0,2
4,24,54400,1.0,8.0,3.0,3.0,35000,14.27,1,0.55,1,4